<div class="container">
  <div class="content">
    <div class="style">
      MarkTech North Star from {{ last30day | date }} - {{ today | date }}
    </div>
    <br><br>

    <div class="style">
      Total Spend: {{ totalAmountSpent | currency:'INR':'symbol':'1.0-0' }}
    </div>
    <br>

    <div class="style">
      Total Return: {{ totalReturn | currency:'INR':'symbol':'1.0-0' }}
    </div>
    <br><br>

    <div class="final-result">
      Final Result: {{ finalResult }}
    </div>
    <br><br><br>

    <div class="style">
      Status: {{ getFinalResultStatus(finalResult) }}
    </div>
  </div>
</div>
