<div class="container">
  <div class="content">
    <div class="style">
     <div  matTooltip="•  The total spend, divide it by 20, and multiply this result by the difference between the returns divided by total spend and the product of (20 minus total spend) and 2. &#10;" 
     matTooltipPosition="below"> <strong>MARKTECH NORTH STAR </strong> </div><br><br>
     <div>(TotalSpend/20)(Returns/TotalSpend -  ((20-TotalSpend)*2))</div> <br><br><br><br><br><br>
      MarkTech North Star calculated from <strong> {{ last30day | date }} - {{ today | date }} </strong> 
    </div>
    <br><br>

    <div class="style">
      Total Amount of AdsSpend: {{ totalAmountSpent | currency:'INR':'symbol':'1.0-0' }}
    </div>
    <br>

    <div class="style">
      Total Purchase Value: {{ totalReturn | currency:'INR':'symbol':'1.0-0' }}
    </div>
    <br><br>

    <div class="final-result">
      BEY Brand Equity Yield : {{ finalResult }}
    </div>
    <br><br><br>

    <div class="style">
      Status: {{ getFinalResultStatus(finalResult) }}
    </div>
  </div>
</div>
 