<h1> Sales conversion cycle</h1>

<div class="filter-container">
  <mat-form-field>
    <mat-label></mat-label>
    <mat-select [(ngModel)]="selectedMonth" (selectionChange)="applyFilter()">
      <mat-option [value]="'All'">All</mat-option>
      <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
    </mat-select>
  </mat-form-field>
</div> 

<div class="table"  [style.width]="selectedRow ? '60%' : '90%'">
  <table mat-table [dataSource]="dataSource"   id="exampleTable" class="mat-elevation-z8"  matSort>
  
    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header > month </th>
      <td mat-cell *matCellDef="let element"><div (click)="toggleAdDetails(element)"> {{element.month}} </div></td>
    </ng-container>
  
    <ng-container matColumnDef="leads">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>leads</th>
      <td mat-cell *matCellDef="let element">{{ element.leads }}</td>
    </ng-container>

    <ng-container matColumnDef="sales">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>sales</th>
      <td mat-cell *matCellDef="let element"><div (click)="toggleAdDetails(element)">{{ element.sales }}</div></td>
    </ng-container>

    <ng-container matColumnDef="conversion_ratio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Conversion ratio</th>
      <td mat-cell *matCellDef="let element">{{ conversionRatio(element) }}</td>
    </ng-container>

    <ng-container matColumnDef="conversion_30">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>conversion_30</th>
      <td mat-cell *matCellDef="let element">{{ element.conversion_30 }}</td>
    </ng-container>

    <ng-container matColumnDef="conversion_60">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>conversion_60</th>
      <td mat-cell *matCellDef="let element">{{ element.conversion_60 }}</td>
    </ng-container>

    <ng-container matColumnDef="conversion_90">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>conversion_90</th>
      <td mat-cell *matCellDef="let element">{{ element.conversion_90/2  }}</td>
    </ng-container>

    <ng-container matColumnDef="conversion_120">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>conversion_120</th>
      <td mat-cell *matCellDef="let element">{{ element.conversion_120/2 }}</td>
    </ng-container>

    <ng-container matColumnDef="conversion_240">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>conversion_240</th>
      <td mat-cell *matCellDef="let element">{{ element.conversion_240/2  }}</td>
    </ng-container>

    <ng-container matColumnDef="conversion_360">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>conversion_360</th>
      <td mat-cell *matCellDef="let element">{{ element.conversion_360/2  }}</td>
    </ng-container>

    <ng-container matColumnDef="conversion ratio">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>conversion_ratio</th>
      <td mat-cell *matCellDef="let element">{{ element.conversion_ratio  }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>

  <div class="sidenav" *ngIf="showDetails">
    <h2>Converted leads: {{ matchingLeads.length }}</h2>
    <div *ngFor="let lead of matchingLeads">
      <ul><li>
      <p><strong>Name  </strong>{{lead.name}}</p>
      <p><strong>Email  </strong> {{ lead.email }}</p> 
      <p><strong>Product  </strong> {{ lead.journeyname }}</p> 
      <p><strong>Converted date  </strong>{{ lead.converteddate.toDate() | date:'dd/MM/yyyy' }} </p>
      <ng-container *ngIf="getEmailDetails(lead.email)">
      <p><strong>Created date  </strong> {{ getEmailDetails(lead.email)?.data.toDate()| date:'dd/MM/yyyy' }}</p>
      <p><strong>Days:</strong> {{ getDayDifference(getEmailDetails(lead.email)?.data.toDate(), lead.converteddate.toDate()) }}</p></ng-container></li></ul> 
    </div>
  </div>
  
  