.filter-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  .load-more-container {
    margin-top: 20px;
    text-align: center;
  }
  