<!-- <h1>Daily leads & sales</h1> -->
<div *ngIf="loading" class="progress-container">
  <mat-progress-spinner class="center-spinner" mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="loading" >
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<br><br>

<div *ngIf="!loading">

<div class="button-container">
<button mat-raised-button (click)="selectedSection = 'homepage'" >Homepage Funnel</button>
<button mat-raised-button (click)="selectedSection = 'lyl'" >LYL Funnel</button>
<button mat-raised-button (click)="selectedSection = 'other'"  >Other</button>
</div>

<div *ngIf="selectedSection === 'other'">
<h2>Total sales: {{totalsales()}}  Total leads: {{totalleads()}}</h2>

<div class="filter-container">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" formGroupName="daterange">
        <input matStartDate placeholder="Start date" formControlName="start"/>
        <input matEndDate placeholder="End date" formControlName="end"/>
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <button mat-button (click)="onSubmit()">Search</button>
  </form>

  <button mat-button (click)="exportexcel()" class="export-excel-btn">Export</button>
</div>

<div class="table">
<table mat-table [dataSource]="dataSource"   id="exampleTable" class="mat-elevation-z8"  matSort>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header > Date </th>
    <td mat-cell *matCellDef="let element"> <strong>{{element.date}}</strong> </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>

  <ng-container matColumnDef="spend_MM">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header>Spend</th>
    <td mat-cell *matCellDef="let element">{{ element.spend_MM }}</td>
    <td mat-footer-cell *matFooterCellDef> {{calculatespend()}} </td>
  </ng-container>

  <ng-container matColumnDef="homepage">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> Homepage Enquiries</th>
    <td mat-cell *matCellDef="let element"> {{element.homepage}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalhomepage()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylreg">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> LYLregistration </th>
    <td mat-cell *matCellDef="let element"> {{element.lylreg}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylreg()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylattended">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> LYLattended </th>
    <td mat-cell *matCellDef="let element"> {{element.lylattended}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylattend()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylcomwatch">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> LYL complete watch </th>
    <td mat-cell *matCellDef="let element"> {{element.lylcomwatch}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylcomwatch()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylapplied">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> LYLapplication </th>
    <td mat-cell *matCellDef="let element"> {{element.lylapplied}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylapplied()}} </td>
  </ng-container>

  <ng-container matColumnDef="loghot">
    <th mat-header-cell *matHeaderCellDef> loghot </th>
    <td mat-cell *matCellDef="let element"> {{element.loghot}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalloghot()}} </td>
  </ng-container>

  <ng-container matColumnDef="superopportunity">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> superopportunity </th>
    <td mat-cell *matCellDef="let element"> {{element.superopportunity}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalsuperopportunity()}} </td>
  </ng-container>

  <ng-container matColumnDef="sales">
    <th mat-header-cell *matHeaderCellDef> sales </th>
    <td mat-cell *matCellDef="let element"> {{element.sales}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalsales()}} </td>
  </ng-container>

  <ng-container matColumnDef="sales_total">
    <th mat-header-cell *matHeaderCellDef>Total Sales Amount</th>
    <td mat-cell *matCellDef="let element">{{ element.sales_total }}</td>
    <td mat-footer-cell *matFooterCellDef> {{totalsale()}} </td>
  </ng-container>
  
  <ng-container matColumnDef="amountreturn">
    <th mat-header-cell *matHeaderCellDef>Returns</th>
    <td mat-cell *matCellDef="let element">{{ element.amountreturn }}</td>
    <td mat-footer-cell *matFooterCellDef> {{totalspend()}} </td>
  </ng-container>
  


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[7,31,60,90,120,150,180, dataSource.data.length]" ></mat-paginator>
</div>

</div>

<div *ngIf="selectedSection === 'homepage'">
<h2>Homepage Funnel </h2>
<div class="filter-container">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" formGroupName="daterange">
        <input matStartDate placeholder="Start date" formControlName="start"/>
        <input matEndDate placeholder="End date" formControlName="end"/>
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <button mat-button (click)="onSubmit()">Search</button>
  </form>

  <button mat-button (click)="exportexcel()" class="export-excel-btn">Export</button>
</div>

<div class="table">
<table mat-table [dataSource]="dataSource"   id="exampleTable" class="mat-elevation-z8"  matSort>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header > Date </th>
    <td mat-cell *matCellDef="let element"> <strong>{{element.date}}</strong> </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>

  <ng-container matColumnDef="spend">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header>Spend</th>
    <td mat-cell *matCellDef="let element">{{ element.spend_MM }}</td>
    <td mat-footer-cell *matFooterCellDef> {{calculatespend()}} </td>
  </ng-container>

  <ng-container matColumnDef="homepage">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> Homepage Enquiries</th>
    <td mat-cell *matCellDef="let element"> {{element.homepage}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalhomepage()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylreg">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> LYLregistration </th>
    <td mat-cell *matCellDef="let element"> {{element.lylregfromhp}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylreghp()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylattended">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> LYLattended </th>
    <td mat-cell *matCellDef="let element"> {{element.lylattendedfromhp}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylattendhp()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylcomwatch">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> LYL complete watch </th>
    <td mat-cell *matCellDef="let element"> {{element.lylcomwatchfromhp}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylcomwatchhp()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylapplied">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> LYLapplication </th>
    <td mat-cell *matCellDef="let element"> {{element.lylappliedfromhp}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylappliedhp()}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="loghot">
    <th mat-header-cell *matHeaderCellDef> loghot </th>
    <td mat-cell *matCellDef="let element"> {{element.loghot}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalloghot()}} </td>
  </ng-container> -->

  <!-- <ng-container matColumnDef="superopportunity">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> superopportunity </th>
    <td mat-cell *matCellDef="let element"> {{element.superopportunity}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalsuperopportunity()}} </td>
  </ng-container> -->

  <ng-container matColumnDef="sales">
    <th mat-header-cell *matHeaderCellDef> sales </th>
    <td mat-cell *matCellDef="let element"> {{element.salesfromhp}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalsaleshp()}} </td>
  </ng-container>

  <ng-container matColumnDef="sales_total">
    <th mat-header-cell *matHeaderCellDef>Total Sales Amount</th>
    <td mat-cell *matCellDef="let element">{{ element.sales_totalfromhp }}</td>
    <td mat-footer-cell *matFooterCellDef> {{totalsalehp()}} </td>
  </ng-container>
  
  <ng-container matColumnDef="amountreturn">
    <th mat-header-cell *matHeaderCellDef>Returns</th>
    <td mat-cell *matCellDef="let element">{{ element.amountreturnfromhp }}</td>
    <td mat-footer-cell *matFooterCellDef> {{totalspendhp()}} </td>
  </ng-container>
  


  <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumn; "></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumn"></tr>
</table>
<mat-paginator [pageSizeOptions]="[7,31,60,90,120,150,180, dataSource.data.length]" ></mat-paginator>
</div>

</div>


<div *ngIf="selectedSection === 'lyl'">
<h2>LYL Funnel</h2>

<div class="filter-container">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" formGroupName="daterange">
        <input matStartDate placeholder="Start date" formControlName="start"/>
        <input matEndDate placeholder="End date" formControlName="end"/>
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <button mat-button (click)="onSubmit()">Search</button>
  </form>

  <button mat-button (click)="exportexcel()" class="export-excel-btn">Export</button>
</div>

<div class="table">
<table mat-table [dataSource]="dataSource"   id="exampleTable" class="mat-elevation-z8"  matSort>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header > Date </th>
    <td mat-cell *matCellDef="let element"> <strong>{{element.date}}</strong> </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>

  <ng-container matColumnDef="spend">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header>Spend</th>
    <td mat-cell *matCellDef="let element">{{ element.spend_MM }}</td>
    <td mat-footer-cell *matFooterCellDef> {{calculatespend()}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="homepage">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> Homepage Enquiries</th>
    <td mat-cell *matCellDef="let element"> {{element.homepage}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalhomepage()}} </td>
  </ng-container> -->

  <ng-container matColumnDef="lylreg">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> LYLregistration </th>
    <td mat-cell *matCellDef="let element"> {{element.lylregnotfromhp}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylregnhp()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylattended">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> LYLattended </th>
    <td mat-cell *matCellDef="let element"> {{element.lylattendednotfromhp}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylattendnhp()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylcomwatch">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> LYL complete watch </th>
    <td mat-cell *matCellDef="let element"> {{element.lylcomwatchnotfromhp}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylcomwatchnhp()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylapplied">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> LYLapplication </th>
    <td mat-cell *matCellDef="let element"> {{element.lylappliednotfromhp}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylapplied()}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="loghot">
    <th mat-header-cell *matHeaderCellDef> loghot </th>
    <td mat-cell *matCellDef="let element"> {{element.loghot}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalloghot()}} </td>
  </ng-container> -->

  <!-- <ng-container matColumnDef="superopportunity">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> superopportunity </th>
    <td mat-cell *matCellDef="let element"> {{element.superopportunity}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalsuperopportunity()}} </td>
  </ng-container> -->

  <ng-container matColumnDef="sales">
    <th mat-header-cell *matHeaderCellDef> sales </th>
    <td mat-cell *matCellDef="let element"> {{element.salesnotfromhp}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalsalesnhp()}} </td>
  </ng-container>

  <ng-container matColumnDef="sales_total">
    <th mat-header-cell *matHeaderCellDef>Total Sales Amount</th>
    <td mat-cell *matCellDef="let element">{{ element.sales_totalnotfromhp }}</td>
    <td mat-footer-cell *matFooterCellDef> {{totalsalenhp()}} </td>
  </ng-container>
  
  <ng-container matColumnDef="amountreturn">
    <th mat-header-cell *matHeaderCellDef>Returns</th>
    <td mat-cell *matCellDef="let element">{{ element.amountreturnnotfromhp }}</td>
    <td mat-footer-cell *matFooterCellDef> {{totalspendnhp()}} </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumnlyl"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnlyl; "></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumnlyl"></tr>
</table>
<mat-paginator [pageSizeOptions]="[7,31,60,90,120,150,180, dataSource.data.length]" ></mat-paginator>
</div>

</div>
</div>
