.mat-header-cell {
  justify-content: space-between;
    padding: 5px;
    text-align: left;
    font-size: 100%;
    font-weight: bold;
  }

  .mat-cell {
    padding: 10px;
    text-align: left;
    font-size: 100%;
    font-weight: lighter;
  }

  .filter-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap;
  }
  
  .filter-container form {
    flex-grow: 1; 
    margin-left: 2rem;
  }
  
  .export-excel-btn {
    margin-right: 5rem;
  }

  .progress-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
  }
  
  .center-spinner {
    width: 100px; 
    height: 100px;
  }
  h1,h2 {
    text-align: center;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
  }

  .table {
    width: 95%;
    margin-left: 2rem;
  }
  
  .mat-table {
    width: 100%;
  }

  .button-container {
    display: flex;
    gap: 10px; 
  }