<h1>Daily leads & sales</h1>

<h2>Total sales: {{totalsales()}}  Total leads: {{totalleads()}}</h2>

<div class="filter-container">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" formGroupName="daterange">
        <input matStartDate placeholder="Start date" formControlName="start"/>
        <input matEndDate placeholder="End date" formControlName="end"/>
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <button mat-button (click)="onSubmit()">Search</button>
  </form>

  <button mat-button (click)="exportexcel()" class="export-excel-btn">Export</button>
</div>

<div class="table">
<table mat-table [dataSource]="dataSource"   id="exampleTable" class="mat-elevation-z8"  matSort>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header > Date </th>
    <td mat-cell *matCellDef="let element"> <strong>{{element.date}}</strong> </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>

  <ng-container matColumnDef="spend_MM">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header>Spend</th>
    <td mat-cell *matCellDef="let element">{{ element.spend_MM }}</td>
    <td mat-footer-cell *matFooterCellDef> {{calculatespend()}} </td>
  </ng-container>

  <ng-container matColumnDef="homepage">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> Homepage Enquiries</th>
    <td mat-cell *matCellDef="let element"> {{element.homepage}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalhomepage()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylreg">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> LYLregistration </th>
    <td mat-cell *matCellDef="let element"> {{element.lylreg}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylreg()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylattended">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> LYLattended </th>
    <td mat-cell *matCellDef="let element"> {{element.lylattended}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylattend()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylcomwatch">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> LYL complete watch </th>
    <td mat-cell *matCellDef="let element"> {{element.lylcomwatch}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylcomwatch()}} </td>
  </ng-container>

  <ng-container matColumnDef="lylapplied">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> LYLapplication </th>
    <td mat-cell *matCellDef="let element"> {{element.lylapplied}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totallylapplied()}} </td>
  </ng-container>

  <ng-container matColumnDef="loghot">
    <th mat-header-cell *matHeaderCellDef> loghot </th>
    <td mat-cell *matCellDef="let element"> {{element.loghot}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalloghot()}} </td>
  </ng-container>

  <ng-container matColumnDef="superopportunity">
    <th mat-header-cell *matHeaderCellDef   mat-sort-header> superopportunity </th>
    <td mat-cell *matCellDef="let element"> {{element.superopportunity}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalsuperopportunity()}} </td>
  </ng-container>

  <ng-container matColumnDef="sales">
    <th mat-header-cell *matHeaderCellDef> sales </th>
    <td mat-cell *matCellDef="let element"> {{element.sales}} </td>
    <td mat-footer-cell *matFooterCellDef> {{totalsales()}} </td>
  </ng-container>

  <ng-container matColumnDef="sales_total">
    <th mat-header-cell *matHeaderCellDef>Total Sales Amount</th>
    <td mat-cell *matCellDef="let element">{{ element.sales_total }}</td>
    <td mat-footer-cell *matFooterCellDef> {{totalsale()}} </td>
  </ng-container>
  
  <ng-container matColumnDef="amountreturn">
    <th mat-header-cell *matHeaderCellDef>Returns</th>
    <td mat-cell *matCellDef="let element">{{ element.amountreturn }}</td>
    <td mat-footer-cell *matFooterCellDef> {{totalspend()}} </td>
  </ng-container>
  


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[30,60,90,120,150,180, dataSource.data.length]" ></mat-paginator>
</div>

<!-- <div>
  <p *ngFor="let entry of dataSource">{{ entry.date }}</p>
</div> -->


<!-- <div>{{split()}}</div> -->

<!-- <div class="table">
  <table mat-table [dataSource]="aggregatedData" id="aggregatedTable" class="mat-elevation-z8">

    <ng-container matColumnDef="monthYear">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.monthYear }}</td>
    </ng-container>

    <ng-container matColumnDef="homepageTotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Homepage Total</th>
      <td mat-cell *matCellDef="let element">{{ element.homepageTotal }}</td>
    </ng-container>

    <ng-container matColumnDef="lylregTotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Lylreg Total</th>
      <td mat-cell *matCellDef="let element">{{ element.lylregTotal }}</td>
    </ng-container>

    <ng-container matColumnDef="salesTotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Total</th>
      <td mat-cell *matCellDef="let element">{{ element.salesTotal }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="aggregatedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: aggregatedColumns;"></tr>
  </table>
</div> -->

  