<ng-container *ngIf="shouldDisplayToolbar(); else loginRegisterTemplate">
  <mat-toolbar *ngIf="shouldDisplayToolbar()" class ="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    ANALYTICS
    <span class="title">{{ pageTitle }}</span>
    <div class="right"><span class="example-spacer"></span>
    Hello {{ getUserName() }}</div>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list>
        <br>
        <br>
        <a mat-list-item routerLink="/dashboard" >
          <span> Growth Metrics</span>
        </a>
        <a mat-list-item routerLink="/northstar" >
          <span> MarkTech North Star </span>
        </a>
        <a mat-list-item routerLink="/fb-data" >
          <span> Ads Campaign Sets</span>
        </a>
        <a mat-list-item routerLink="/salesconv">
          <span> Sales Conversion Cycle</span>
        </a>
        <!-- <a mat-list-item (click)="refreshPage()" >
          <span>Sales Conversion Cycle</span>
        </a> -->
        <a mat-list-item routerLink="/sample" >
          <span> Daily Leads & Sales</span>
        </a>
        <a mat-list-item routerLink="/seasonalcampaign" >
          <span> Seasonal Campaign </span>
        </a>
        <a mat-list-item routerLink="/leadsconv" >
          <span> LYL Registration Data </span>
        </a>
        <a mat-list-item routerLink="/combinedleads" >
          <span> Webinar Analytics </span>
        </a>
        <a mat-list-item routerLink="/campaignanalytics" >
          <span> Campaign Metrics </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</ng-container>

<ng-template #loginRegisterTemplate>
  <app-login *ngIf="displayLogin"></app-login>

  <app-register *ngIf="displayRegister">switchtoregister()</app-register>

  <app-reset-password *ngIf="displayResetPassword"></app-reset-password>
</ng-template>

