h1 {
    text-align: center;
    margin: auto;
    /* font-family: fantasy; */
  }

  h2{
    text-align: center;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    height: 35px;
  }

  .table {
    width: 95%;
    margin-left: 2rem;
    height: 140px;
  }

  td,th{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .mat-table {
    width: 100%;
  }

  /* .mat-tooltip {
    font-size: 16px !important;
    color: black !important;
    background-color: white !important;
    border: 1px solid #ccc !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
  } */
  
  /* ::ng-deep .mat-tooltip {
    font-size: 16px !important; 
    color: black !important; 
    background-color: white !important; 
    border: 1px solid #ccc !important; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
    padding: 8px !important; 
    max-width: none !important; 
    word-wrap: break-word !important; 
    position: absolute !important; 
    right: 80 !important; 
  } */

  ::ng-deep .mat-tooltip {
    font-size: 16px !important; 
    color: black !important; 
    background-color: white !important; 
    border: 1px solid #ccc !important; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
    padding: 8px !important; 
    word-wrap: break-word !important; 
    position: absolute !important; 
    left: 50% !important; 
    transform: translateX(-50%) !important;     
    min-width: 280px !important;  
    max-width: 700px !important; 
    min-height: 80px !important;  
    max-height: 500px !important; 
}

  .tooltip-custom {
    display: inline-block;
    position: relative;
  }
  
  
  

  .progress-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
  }
  
  .center-spinner {
    width: 100px; 
    height: 100px;
  }

  .green-text {
    color: green;
    height: 10000px; 
  }
  
  .red-text {
    color: red;
  }
  

  