h1 {
    text-align: center;
    margin: auto;
    /* font-family: fantasy; */
  }

  h2{
    text-align: center;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    height: 35px;
  }

  .table {
    width: 95%;
    margin-left: 2rem;
    height: 140px;
  }

  td,th{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .mat-table {
    width: 100%;
  }

  .progress-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
  }
  
  .center-spinner {
    width: 100px; 
    height: 100px;
  }

  .green-text {
    color: green;
    height: 10000px; 
  }
  
  .red-text {
    color: red;
  }
  

  