<!-- <div class="container" *ngFor="let item of dataArray.data">
    <div class="data-item">
        <div class="data-row">
            <span class="value">Penultimate Month</span>
            <span class="value">CTD: {{item.CTD}}</span>
            <span class="value">Critical Support: {{item.CriticalSupport}}</span>
            <span class="value">BiG: {{item.BiG}}</span>
            <span class="value">SMP: {{item.SMP}}</span>
            <span class="value">High Performance Delivered: {{item.HighPerformancedelivered}}</span>
            <span class="value">uP!: {{item.uP}}</span>
            <span class="value">FTM: {{item.FTM}}</span>
            <span class="value">Health Explorative: {{item.HealthExplorative}}</span>
            <span class="value">Wish: {{item.Wish}}</span>
            <span class="value">BiG Continuity: {{item.BiGContinuity}}</span>
            <span class="value">CPM upgrade: {{item.CPMupgrade}}</span>
            <span class="value">LYL L2: {{item.LYLL2}}</span>
            <span class="value">EI StarterPack: {{item.EIStarterpack}}</span>
            <span class="value">EI Subscription For Entrepreneurs: {{item.EIsubscriptionforEntrepreneurs}}</span>
          </div>
        </div>
    </div> -->

<div class="container" *ngFor="let item of dataSource.data">
    <div class="data-item">
      <!-- <div class="data-row">
        <span class="value">Penultimate Month</span>
        <span class="value">CTD: {{penultimateMonthData.CTD}}</span>
        <span class="value">Critical Support: {{penultimateMonthData.CriticalSupport}}</span>
        <span class="value">BiG: {{penultimateMonthData.BiG}}</span>
        <span class="value">SMP: {{penultimateMonthData.SMP}}</span>
        <span class="value">High Performance Delivered: {{penultimateMonthData.HighPerformancedelivered}}</span>
        <span class="value">uP!: {{penultimateMonthData.uP}}</span>
        <span class="value">FTM: {{penultimateMonthData.FTM}}</span>
        <span class="value">Health Explorative: {{penultimateMonthData.HealthExplorative}}</span>
        <span class="value">Wish: {{penultimateMonthData.Wish}}</span>
        <span class="value">BiG Continuity: {{penultimateMonthData.BiGContinuity}}</span>
        <span class="value">CPM upgrade: {{penultimateMonthData.CPMupgrade}}</span>
        <span class="value">LYL L2: {{penultimateMonthData.LYLL2}}</span>
        <span class="value">EI StarterPack: {{penultimateMonthData.EIStarterpack}}</span>
        <span class="value">EI Subscription For Entrepreneurs: {{penultimateMonthData.EIsubscriptionforEntrepreneurs}}</span>
      </div>  -->
  
      <!-- <div class="data-row">
        <span class="value">Last Month</span>
        <span class="label">CTD: {{item.lCTD}}</span>
        <span class="label">Critical Support: {{item.lCriticalSupport}}</span>
        <span class="label">BiG: {{item.lBiG}}</span>
        <span class="label">SMP: {{item.lSuperMetabolismProgram}}</span>
        <span class="label">High Performance Delivered: {{item.lHighPerformanceDelivered}}</span>
        <span class="label">uP!: {{item.luP}}</span>
        <span class="label">FTM: {{item.lFTM}}</span>
        <span class="label">Health Explorative: {{item.lHealthExplorative}}</span>
        <span class="label">Wish: {{item.lWiSH}}</span>
        <span class="label">BiG Continuity: {{item.lBiGContinuity}}</span>
        <span class="label">CPM upgrade: {{item.lCPMupgrade}}</span>
        <span class="label">LYL L2: {{item.lLaunchYourLegacyL2}}</span>
        <span class="label">EI StarterPack: {{item.lEIStarterPack}}</span>
        <span class="label">EI Subscription For Entrepreneurs: {{item.lEISubscriptionforEntrepreneurs}}</span>
      </div> -->
  
      <div class="data-row">
        <span class="value">Current Month</span>
        <span class="label">CTD: {{item.CTD}}</span>
        <span class="label">Critical Support: {{item.CriticalSupport}}</span>
        <span class="label">BiG: {{item.BiG}}</span>
        <span class="label">SMP: {{item.SuperMetabolismProgram}}</span>
        <span class="label">High Performance Delivered: {{item.HighPerformanceDelivered}}</span>
        <span class="label">uP!: {{item.uP}}</span>
        <span class="label">FTM: {{item.FTM}}</span>
        <span class="label">Health Explorative: {{item.HealthExplorative}}</span>
        <span class="label">Wish: {{item.WiSH}}</span>
        <span class="label">BiG Continuity: {{item.BiGContinuity}}</span>
        <span class="label">CPM upgrade: {{item.CPMupgrade}}</span>
        <span class="label">LYL L2: {{item.LaunchYourLegacyL2}}</span>
        <span class="label">EI StarterPack: {{item.EIStarterPack}}</span>
        <span class="label">EI Subscription For Entrepreneurs: {{item.EISubscriptionforEntrepreneurs}}</span>
      </div>
    </div>
  </div>
  
  <button mat-button (click)="exportexcel()" class="export-excel-btn">Export</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSourceopportunities"  id="exampleTable" class="mat-table" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="entrydate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Entry Date </th>
      <td mat-cell *matCellDef="let element"> {{element.entrydate.toDate() | date:'MM, d, y'}} </td>
    </ng-container>

    <ng-container matColumnDef="combinations">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Combinations </th>
      <td mat-cell *matCellDef="let element"> {{element.combinations}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
