.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 40px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
  }
  
  .data-item {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
  }
  
  .data-row {
    display: flex;
    align-items: center;
    margin: 5px 0;
    flex-basis: 100%; 
  }

  .mat-table {
    width: 100%;
  }
  
  .label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .value {
    color: black;
  }

  /* .date-range-filter-container {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
  }
  
  .mat-form-field {
    min-width: 250px; 
  }
  
  .filter-btn,
  .export-excel-btn {
    background-color: g; 
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .filter-btn:hover,
  .export-excel-btn:hover {
    background-color: #303f9f;
  } */

  .filter-container {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
  }
  
  .form-field {
    width: 100%; 
    margin-bottom: 15px; 
  }
  
  .search-button {
    background-color: #a193b5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s; 
  }
  
  .search-button:hover {
    background-color: #3700b3;
    transform: translateY(-2px); 
  }
  .exporticon{
    color: green;
}

.button{
  border-radius:0px ;
  color: #3D497B;
  font-size: 13px;
  margin-top: 10px;
  gap:16px;
  margin-left: 4px;
}

.cancelicon{
    color: red;
}

  /* .mat-form-field {
    margin-bottom: 16px;
  } */

  .filter-container form {
    display: flex;
    /* flex-direction: column; */
    gap: 16px;
  }

  .date-range-filter {
    margin-bottom: 16px;
  }
  
  .journey-name-filter {
    margin-top: 0px;
  }
  
  
  
  header {
    margin-bottom: 30px; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 40px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 50px;
  }
  
  .filter-container {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  th.mat-header-cell {
    background-color: #f1f1f1;
    color: #333;
    text-align: left;
    padding: 10px;
    font-weight: bold;
  }  

  td.mat-cell {
    color: #333;
    text-align: left;
    padding: 10px;
  }
  